<ul>
    <h2>Homework</h2> <br>
    <h3> <a href="/">Home</a> </h3>
    <li>
    <input type= "checkbox"></input>
    <span>"Complete all missed assignments- Physics"</span>
    <strong>"4 pomodoros"</strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>Study Rhetoric sectionn for quiz - Communications</span>
        <strong>2 pomodoros</strong>
        </li>
        
    <li> 
    <input type="checkbox"></input>
    <span>Complete lab assignments #4 - AP Computer Science</span>
    <strong>3 pomodoros</strong>
    </li>
</ul>