<ul>
    <h2>Homework</h2> <br>
    <h3> <a href="/">Home</a> </h3>
    <li>
    <input type= "checkbox"></input>
    <span>"Complete all missed assignments- Physics"</span>
    <strong>"4 pomodoros"</strong>
    </li>
    <li>
    <p> Butt </p>    
    </li>
</ul>