







<strong><%= 3 + 1 %>pomodoros </strong>
<style>
#wallahi {color:red;    }
    
    
    
    
    
    
    
</style>    
    
<Head>

<h1>Ok.... so idk what I'm doing but im just typing whatever comes to mind so here :) </h1>
<p id = wallahi>Ok so Ran just asked a question and now Hadja is answering it but he just said that she is wrong
I'm listening to them as i type. I just looked over to something completely confusing. Ahhhhh I want to make my website interactive: 
He asked what what a controller is and i just answered. 
Ik what these things are but i want to work more just like last Sunday</p>
</head>
<body>
<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>    
<p>
Yurrrr wassup    
    
    
    
</p>    
    
    
    
    
</body>
