<ul>
    <h2>Chores</h2> <br>
    <h3> <a href="/">Home</a> </h3>
    <li>
    <input type= "checkbox"></input>
    <span>"Throw out the garbage"</span>
    <strong>"4 pomodoros"</strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>"Mop the house"</span>
        <strong>2 pomodoros</strong>
        </li>
        
    <li> 
    <input type="checkbox"></input>
    <span>"Clean the fish tank!</span>
    <strong>3 pomodoros</strong>
    </li>
</ul>